aiohttp
gevent
gunicorn
uvloop

# Notes: pycld2 may need to be installed manually in case of errors.
# 1) Update anaconda libgcc with "conda install libgcc"
# 2) Clone pycld2 with "git clone https://github.com/aboSamoor/pycld2/tree/master/bindings"
# 3) Install pycld2 with "python3 setup.py install"
pycld2
