aiohttp
uvloop

# Notes: pycld2 needs to be installed manually.
# 1) Update anaconda libgcc with "conda install libgcc"
# 2) Clone pycld2 with "git clone https://github.com/aboSamoor/pycld2"
# 3) Install pycld2 with "python3 setup.py install"
# pycld2
